In [2]:
%pip install pandas

Requirement already satisfied: pandas in c:\programdata\python\lib\site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\diogenes monegro\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\python\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\python\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in c:\users\diogenes monegro\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# Import library
import pandas as pd

In [8]:
# load file .csv
df = pd.read_csv('../data/pokemon.csv')

In [12]:
# Return a data from head name

display(df['name'])

# Return many data from head
display(df[['name', 'generation']])

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
796    Celesteela
797       Kartana
798      Guzzlord
799      Necrozma
800      Magearna
Name: name, Length: 801, dtype: object

           name  generation
0     Bulbasaur           1
1       Ivysaur           1
2      Venusaur           1
3    Charmander           1
4    Charmeleon           1
..          ...         ...
796  Celesteela           7
797     Kartana           7
798    Guzzlord           7
799    Necrozma           7
800    Magearna           7

[801 rows x 2 columns]